<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>运动开始</string>
		<key>content</key>
		<string>运动开始</string>
        <key>local</key>
        <string>zh-CN</string>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>倒计时-1</string>
		<key>content</key>
		<string>1</string>
        <key>local</key>
        <string>zh-CN</string>
	</dict>
    <key>2</key>
    <dict>
        <key>name</key>
        <string>倒计时-2</string>
        <key>content</key>
        <string>2</string>
        <key>local</key>
        <string>zh-CN</string>
    </dict>
    <key>3</key>
    <dict>
        <key>name</key>
        <string>倒计时-3</string>
        <key>content</key>
        <string>3</string>
        <key>local</key>
        <string>zh-CN</string>
    </dict>
    <key>4</key>
    <dict>
        <key>name</key>
        <string>休息</string>
        <key>content</key>
        <string>休息一下</string>
        <key>local</key>
        <string>zh-CN</string>
    </dict>
    <key>5</key>
    <dict>
        <key>name</key>
        <string>一半时间</string>
        <key>content</key>
        <string>一半时间</string>
        <key>local</key>
        <string>zh-CN</string>
    </dict>
    <key>6</key>
    <dict>
        <key>name</key>
        <string>下一个</string>
        <key>content</key>
        <string>下一个</string>
        <key>local</key>
        <string>zh-CN</string>
    </dict>
    <key>7</key>
    <dict>
        <key>name</key>
        <string>倒计时-1</string>
        <key>content</key>
        <string>1</string>
        <key>local</key>
        <string>zh-CN</string>
    </dict>
</dict>
</plist>
